# Dependencies
node_modules/

# Build output
dist/
.output/
.vinxi/

# Local env files
.env
.env.*

# Logs
*.log

# Editor directories
.idea/
.vscode/
.zed/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# TanStack
.tanstack/

# Vite
.vite/
.vite-hooks/

# Sanity TypeGen (generated)
studio/schema.json
