# Dependencies
node_modules/

# Build output
dist/
.output/
.vinxi/

# Local env files
.env
.env.*
!.env.example

# Logs
*.log

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# TanStack
.tanstack/

# Vite
.vite/
