@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geist-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Geist", sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
  font-family: var(--font-mono);
}

